.button {
  padding: 12px 35px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;

  &:focus {
    outline: 0;
  }
}

.btn__primary {
  background-color: $color-green-primary;
  color: #fff;
  border-radius: 16px;

  &:hover {
    opacity: 0.8;
  }
}

.btn__secondary {
  color: $link-color;
  background-color: transparent;
}

.btn__goBack {
  padding-bottom: 4rem;
  font-size: $font-size-body;
  color: $link-color;

  @include responsive(mobile) {
    padding-top: 1rem;
    padding-left: 1rem;
  }

  cursor: pointer;
  & > i {
    padding-right: 0.5rem;
  }
}
