.footerContainer {
  padding-bottom: 2rem;

  &__mainContent {
    padding-top: 10rem;
    text-align: center;
    font-size: $font-size-body;

    @include responsive(mobile) {
      padding-top: 5rem;
    }

    &>p {
      padding-bottom: 1rem;
    }
  }

  &__links {
    font-size: $font-size-body;
    padding-top: 8rem;
    padding-bottom: 2rem;
    text-align: end;

    @include responsive(tab_medium) {
      text-align: center;
    }

    @include responsive(mobile) {
      display: block;
      text-align: center;
      padding-top: 5rem;
    }

    &--left {
      display: flex;
      width: 60%;

      @include responsive(tab_medium) {
        justify-content: center;
        padding-bottom: 1.5rem;
        padding-top: 0.5rem;
        width: 100%;
      }

      @include responsive(mobile) {
        width: 100%;
      }

      &>a {
        padding-right: 1rem;
      }
    }
  }
}
