.itemListContainer {
  & > h2 {
    font-size: $font-size-h2;
    padding-bottom: 15px;

    @include responsive(mobile) {
      font-size: $font-size-h2-mobile;
    }
  }
  &__wrapper {
    text-align: center;
    cursor: pointer;
  }

  &__image {
    height: 12rem;
  }

  &__name {
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    font-size: $font-size-body;
  }
}
