.itemListContainer {
  & > h2 {
    font-size: $font-size-h2;
    padding-bottom: 50px;

    @include responsive(tab_medium) {
      font-size: $font-size-h2-mobile;
      padding-bottom: 35px;
    }
  }

  &__list {
    @include responsive(tab_medium) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__wrapper {
    text-align: center;
    cursor: pointer;

    @include responsive(tab_medium) {
      text-align: left;
      padding-left: 2px;
      padding-right: 6px;
    }
  }

  &__image {
    height: 14rem;

    @include responsive(tab_medium) {
      height: 8rem;
    }
    @include responsive(mobile) {
      height: 6rem;
    }
  }

  &__name {
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    font-size: $font-size-body;

    @include responsive(tab_medium) {
      width: 3.2rem;
      max-width: 3.2rem;
      word-break: keep-all;
      font-size: $font-size-body-mobile;
      padding-top: 0.2rem;
      padding-bottom: 1rem;
      line-height: 1.2;
    }
  }
}
