.itemListContainer {
  & > h2 {
    font-size: $font-size-h2;
    padding-bottom: 50px;

    @include responsive(tab_medium) {
      font-size: $font-size-h2-mobile;
      padding-bottom: 35px;
    }
  }

  &__list {
    @include responsive(tab_medium) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__wrapper {
    text-align: left;
    cursor: pointer;

    @include responsive(tab_medium) {
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  &__image {
    height: 12rem;

    @include responsive(tab_medium) {
      height: 8rem;
    }
    @include responsive(mobile) {
      height: 5rem;
    }
  }

  &__name {
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    font-size: $font-size-body;
    max-width: 3.2rem;
    width: 3.2rem;
    word-break: keep-all;

    @include responsive(mobile) {
      font-size: $font-size-body-mobile;
    }
  }
}
