.containerNavbar {
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    text-transform: uppercase;
    padding-bottom: 0;
    letter-spacing: .5px;
    font-size: $font-size-nav-item;
    color: $font-color;
    font-weight: 600;

    &>a>i.fas {
      padding-right: 5px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    padding-left: 10rem;
  }

  #logo {
    height: 2.3rem;
  }
}

.hoverLinkStyle {
  @include hover-underline('slide', 'left-right');
}
