.containerNavbar {
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    text-transform: uppercase;
    padding-bottom: 0;
    letter-spacing: .5px;
    font-size: 12px;
    font-weight: 600;
  }

  #logo {
    height: 2.3rem;
  }
}
