nav {
  border-bottom: 1px solid #ececec;
  padding-bottom: 1rem;
  position: fixed;
  z-index: 10000;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 0px 8px 2px #c9c9c95e;
}

.containerNavbar {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;

  &__item {
    text-transform: uppercase;
    padding-bottom: 0;
    letter-spacing: 0.5px;
    font-size: $font-size-nav-item;
    color: $font-color;
    font-weight: 600;

    & > a > i.fas {
      padding-right: 5px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > li:not(:last-child) {
      padding-right: 1rem;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > li:not(:last-child) {
      padding-right: 1rem !important;
    }

    & > li > a > span {
      color: $color-green-primary;
    }
  }

  &__mobile {
    height: 3.7rem;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    z-index: 20;
    width: 100%;
    box-shadow: 0px 0px 8px 2px #c9c9c95e;

    img {
      padding-left: 2rem;
    }

    &--right {
      margin-left: auto;
      margin-right: 1rem;

      div.containerNavbar__item > a > span {
        color: $color-green-primary;
      }
    }
  }
}

.hoverLinkStyle {
  @include hover-underline('slide', 'left-right');
}

#logo {
  height: 2.2rem;
  padding-right: 1rem;

  @include responsive(mobile) {
    height: 1.8rem;
  }
}
