// Override Swiper styles
.swiper-container {
  &:hover {
    div.swiper-button-prev,
    div.swiper-button-next {
      opacity: 1 !important;

      @include responsive(tab_medium) {
        opacity: 0 !important;
      }
    }
  }
}

.swiper-wrapper {
  width: 80% !important;
}

.swiper-pagination {
  bottom: 0 !important;

  @include responsive(mobile) {
    display: none;
  }
}

.swiper-pagination-bullet {
  background-color: $color-dark-primary !important;

  @include responsive(mobile) {
    width: 6px !important;
    height: 6px !important;
  }
}

div.swiper-button-prev {
  left: -0.1rem;
}

div.swiper-button-next {
  right: -0.1rem;
}

div.swiper-button-prev,
div.swiper-button-next,
swiper-button-disabled {
  transition: all 450ms !important;
  color: rgb(255, 255, 255);
  width: 2rem;
  padding-top: 2rem;
  margin-top: calc(-1.8 * var(--swiper-navigation-size) / 2);
  background-color: rgba(26, 26, 26, 0.123);
  height: 100%;
  top: 0;
  opacity: 0 !important;

  &:hover {
    color: #fff;
    background-color: rgba(26, 26, 26, 0.651);
    transition: all 450ms !important;
    opacity: 1;
  }
}

.swiper-slide {
  height: 100% !important;
  padding-bottom: 1rem !important;
}

// custom styles
.sliderContainer {
  &__sliderHeader {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.8rem;

    @include responsive(tab_medium) {
      margin-top: 2rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
    }

    & > h2 {
      font-size: $font-size-h2;

      @include responsive(mobile) {
        font-size: $font-size-h2-mobile;
      }
    }
  }

  &__item {
    & > a > img {
      cursor: pointer;
      height: 100%;
      width: 100%;

      @include responsive(mobile) {
        padding-left: 0;
        padding-right: 0;
      }

      @include responsive(tab_medium) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__itemTitle {
    font-size: $font-size-body;
    padding-top: 0.5rem;
    text-align: center;

    @include responsive(mobile) {
      font-size: $font-size-body-mobile;
    }
  }
}
