// Override Swiper styles
.swiper-wrapper {
  width: 80% !important;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background-color: $color-dark-primary !important;

  @include responsive(mobile) {
    width: 6px !important;
    height: 6px !important;
  }
}

div.swiper-button-prev {
  left: -.1rem;
}

div.swiper-button-next {
  right: -0.1rem;
}

div.swiper-button-prev,
div.swiper-button-next {
  transition: all 450ms !important;
  color: rgb(255, 255, 255);
  width: 2.2rem;
  padding-top: 2rem;
  // position: absolute;
  margin-top: calc(-1.8 * var(--swiper-navigation-size) / 2);
  // margin-bottom: 4rem;
  background-color: rgba(26, 26, 26, 0.123);
  height: 100%;
  top: 0;

  &:hover {
    // transform: scale(1.1) !important;
    color: #fff;
    background-color: rgba(26, 26, 26, 0.651);
    transition: all 450ms !important;
  }
}

.swiper-slide {
  padding-bottom: 1rem !important;
}

// custom styles
.sliderContainer {

  &__sliderHeader {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.8rem;

    @include responsive(tab_medium) {
      margin-top: 4rem;
      padding-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &>h2 {
      font-size: $font-size-h2;

      @include responsive(mobile) {
        font-size: $font-size-h2-mobile;
      }
    }
  }

  &__item {
    // background-color: rgba(235, 235, 235, 0.404);

    &>img {
      cursor: pointer;
      height: inherit;
      width: inherit;
      // padding-right: 1.57rem;
      // padding-left: 1.57rem;

      @include responsive(mobile) {
        padding-left: 0;
        padding-right: 0;
      }

      @include responsive(tab_medium) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__itemTitle {
    font-size: $font-size-body;
    padding-top: 0.5rem;
    text-align: center;
  }
}
