$color-green-primary: #127041;
$color-dark-primary: rgb(22, 22, 22);

$font-color: #44566C;
$link-color: #358AED;

$font-size-body: 14px;
$font-size-h1: 34px;
$font-size-h2: 26px;
$font-size-nav-item: 12px;
