$color-green-primary: #127041;
$color-dark-primary: rgb(22, 22, 22);
$color-dark-primary: rgb(71, 71, 71);

$font-color: #44566c;
$link-color: #358aed;

$font-size-body: 14px;
$font-size-body-mobile: 13px;
$font-size-h1: 34px;
$font-size-h1-mobile: 26px;
$font-size-h2: 26px;
$font-size-h2-mobile: 22px;
$font-size-nav-item: 12px;
