.drinkContainer {
  padding-top: 6rem;

  @include responsive(mobile) {
    padding-top: 3rem;
  }

  p,
  label {
    font-size: $font-size-body;
  }

  h2 {
    font-size: $font-size-h2;

    @include responsive(mobile) {
      font-size: $font-size-h2-mobile;
    }
  }

  &__leftContent {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;

      @include responsive(mobile) {
        padding-bottom: 15px;
      }

      & > h1 {
        max-width: 55%;
        font-size: $font-size-h1;

        @include responsive(tab_medium) {
          font-size: $font-size-h1-mobile;
        }

        @include responsive(mobile) {
          font-size: $font-size-h1-mobile;
        }
      }

      & > .rating {
        color: red;
        font-size: 2rem;
      }
    }

    .image {
      & > img {
        max-width: 100%;
        padding-bottom: 20px;
      }
    }

    & > button {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    & > label {
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      & > input {
        margin-left: 5px;
      }
    }
  }

  &__rightContent {
    width: 85%;
    margin: 0 auto;

    h2 {
      text-align: center;
      padding-top: 78px;
      padding-bottom: 15px;

      @include responsive(mobile) {
        padding-top: 40px;
      }
    }

    & > a > .ingredient {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 15px;

      @include responsive(mobile) {
        padding-bottom: 10px;
      }

      img {
        height: 75px;
        border-radius: 50%;
        background-color: #f5f5dc;
        margin-right: 20px;

        @include responsive(mobile) {
          height: 65px;
        }
      }

      .ingredientMeasurement {
        flex-grow: 1;
        text-align: end;
        color: $color-green-primary;
        font-weight: 600;
      }
    }
  }

  &__drinkDetails {
    padding-top: 60px;

    @include responsive(mobile) {
      padding-top: 40px;
    }

    & > p {
      padding-top: 12px;
      & > span {
        font-weight: 600;
        color: $color-green-primary;
      }
    }
  }

  &__instructions {
    padding-top: 60px;

    @include responsive(mobile) {
      padding-top: 40px;
    }

    & > p {
      padding-top: 12px;
      line-height: 1.6;
    }
  }

  &__comments {
    padding-top: 60px;

    @include responsive(mobile) {
      padding-top: 40px;
    }

    .addComment {
      padding-top: 1.5rem;

      & > input {
        width: 100%;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid rgb(184, 182, 182);
      }

      &__actions {
        padding-top: 1rem;
        display: flex;
        justify-content: flex-end;

        & > button:first-child {
          margin-right: 1rem;
        }
      }
    }

    .commentContainer {
      padding-bottom: 28px;

      &__title {
        color: $color-green-primary;
        padding-bottom: 0.5rem;
        & > span {
          font-weight: 600;
          padding-right: 1rem;
        }
      }

      &__content {
        line-height: 1.2;
      }
    }
  }

  .sliderContainer {
    &__sliderHeader {
      margin-top: 60px;

      @include responsive(mobile) {
        margin-top: 40px;
      }
    }
  }
}
