.drinkContainer {
  padding-top: 6rem;

  &__leftContent {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 30px;
    }

    .image {
      & > img {
        max-width: 100%;
        padding-bottom: 20px;
      }
    }

    & > button {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    & > label {
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      & > input {
        margin-left: 5px;
      }
    }
  }

  &__rightContent {
    h2 {
      text-align: center;
      padding-top: 78px;
      padding-bottom: 15px;
    }

    & > .ingredient {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 20px;

      img {
        height: 75px;
        border-radius: 50%;
        background-color: #f5f5dc;
      }
    }
  }
}
