.heroContainer {
  display: flex;
  align-items: center;
  padding-top: 10rem;
  margin-bottom: 8rem;
  color: $font-color;

  &__title {
    line-height: -2rem;
    padding-bottom: 2rem;
  }

  &__listDescription {
    font-size: $font-size-body;

    &>li {
      display: flex;
      align-items: center;
    }

    &>li::before {
      content: "\2022";
      color: $color-green-primary;
      font-weight: bold;
      font-size: 30px;
      display: inline-block;
      width: 0.8em;
    }
  }
}

.callToActionContainer {
  color: #fff;
  background-image: url('../../images/call-to-action.svg');
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    padding-top: 20rem;
    height: 47rem;

    h1 {
      line-height: 4rem;
    }

    ul>li {
      font-size: $font-size-body;
      display: flex;
      align-items: center;
      padding-bottom: 2rem;

      &>img {
        padding-right: 1rem;
      }
    }
  }
}
