.ingredientContainer {
  padding-top: 8rem;

  &__left {
    text-align: center;
    & > h1 {
      font-size: $font-size-h1;
      padding-bottom: 34px;
    }
    & > img {
      width: 100%;
      padding-bottom: 20px;
    }
    & > button {
      font-size: 12px;
      letter-spacing: 0.8px;
    }
  }

  &__right {
    padding-top: 2.5rem;
    font-size: 1rem;
    line-height: 1.8rem;

    & > .typeContent {
      padding-bottom: 2rem;
      & > h2 {
        font-size: $font-size-h2;
        padding-bottom: 0.5rem;
      }
    }
    & > h2 {
      font-size: $font-size-h2;
      padding-bottom: 0.5rem;
    }
  }
}
