.ingredientContainer {
  padding-top: 6rem;

  @include responsive(mobile) {
    padding-top: 2rem;
  }

  h1 {
    font-size: $font-size-h1;
    padding-bottom: 34px;

    @include responsive(mobile) {
      padding-bottom: 15px;
      font-size: $font-size-h1-mobile;
    }
  }

  h2 {
    font-size: $font-size-h2;

    @include responsive(mobile) {
      font-size: $font-size-h2-mobile;
    }
  }

  &__left {
    text-align: center;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > img {
      height: 20rem;
      padding-bottom: 20px;
    }
    & > button {
      font-size: 12px;
      letter-spacing: 0.8px;

      @include responsive(mobile) {
        width: 100%;
      }
    }
  }

  &__right {
    padding-top: 2.5rem;
    font-size: 1rem;
    line-height: 1.8rem;

    @include responsive(mobile) {
      padding-top: 2rem;
      font-size: $font-size-body;
      line-height: 1.5rem;
    }

    & > .typeContent {
      padding-bottom: 2rem;

      & > p {
        color: $color-green-primary;
      }
    }

    .truncateText {
      color: $link-color;
      cursor: pointer;
    }
  }

  &__drinkList {
    padding-top: 4rem;
  }
}
